html {
    margin: auto;
    height: 100%;

    background-image: linear-gradient(45deg, #3A5A40, #7E9971);
}

body {
    height: auto;
    width: 300px;
    
    margin: auto;
    margin-top: 20px;

    /* background-color: red; */
}

.header {
    height: fit-content;
    width: 300px;
    
    text-align: center;

    margin:auto;

    /* background-color: white; */
}

button {
    cursor: pointer;
}

#menu {
    display: none;

    text-align: center;
}

#menu-container span:hover {
    cursor: pointer;
}

.dropdown-content a {
    color: #000;
}

.content-container {
    height: 75%;
    text-align: center;
}

#progress-bar {
    height: 20px;

    margin-top: 5px;
    /* background-color: #DDD; */

    border: 2px solid #0F0;
    border-radius: 40px;
}

#progress {
    height: 20px;
    width: 0%;

    background-color: #0F0;
    border-radius: 100px;
}

#footer {
    color: #DAD7CD;
    font-size: smaller;
    text-align: center;
}