html {
    margin: auto;
}

body {
    width: 300px;
    margin: auto;
    margin-top: 20px;


    /* background-color: red; */
}

.header {
    height: fit-content;
    width: 300px;
    
    text-align: center;

    margin:auto;

    background-color: white;
}

#menu {
    display: none;

    text-align: center;
}

.dropdown-content a {
    color: #000;
}

.content-container {
    text-align: center;
}

#progress-bar {
    height: 20px;

    margin-top: 5px;
    /* background-color: #DDD; */

    border: 2px solid #0F0;
    border-radius: 40px;
}

#progress {
    height: 20px;
    width: 0%;

    background-color: #0F0;
    border-radius: 100px;
}