html {
    margin: auto;
    background-image: linear-gradient(45deg, #3A5A40, #7E9971);
}

.login-signup-container {
    height: 320px;
    width: 180px;

    position: absolute;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 10px;

    border: 2px solid #FFF;
    border-radius: 20px;

    background-color: #DAD7CD;
}

.slider {
    position: relative;
    display: flex;
    height: 35px;

    margin-top: 30%;
    margin-bottom: 25px;

    background-color: #588157;
    border: 2px none;
    border-radius: 20px;
}

.slider button {
    height: 25px;
    width: 100px;

    text-align: center;

    margin: 5px;
    
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: transparent;
}

#login-page {
    background-color: #7E9971;
}

.form {
    height: fit-content;

    top: 50%;
    left: 50%;

    text-align: center;
}

.form input {
    height: fit-content;
    max-width: 250px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

input[type="submit"], #next-button input {
    cursor: pointer;

    background-color: #7E9971;
    border: #588157;

    padding: 5px 10px 5px 10px;
}

.login-form-container {
    /* display: none; */
}

.signup-form-container {
    display: none;

    height: fit-content;
    /* padding-top: 10px; */
}

#signup-sq {
    display: none;
}