#security-questions,
#password-reset,
#delete-account {
    border: 2px solid #FFF;
    border-radius: 20px;

    background-color: #DAD7CD;
}

#question-label {
    padding-bottom: 5px;
}

#security-questions select {
    height: 20px;
    width: 250px;
    
    box-sizing: border-box;

    text-wrap: wrap;
}

#security-questions input,
#password-reset input {
    width: 250px;

    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

#confirm-un {
    width: 250px;
    margin: 5px;
    border-radius: 5px;
}

#securityQuestionsForm, #passwordResetForm {
    margin-bottom: 25px;
}

#password-reset-error-message {
    color: red;
}

#delete-open-message,
#delete-submit {
    margin-top: 5px;
    color: #da2808;
    font-weight: bolder;
}

#delete-account button {
    margin: 5px;
}

#delete-account-message {
    display: none;
}