#addTaskForm,
.editTaskForm-container {
    display: none;
    text-align: left;
}

#addTaskForm label,
#editTaskForm label {
    display: block;
}

#addTaskForm input,
.editTaskForm-container input {
    height: fit-content;
    width: 100%;

    margin: 5px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    
    border-radius: 40px;
}

#addTaskForm textarea,
.editTaskForm-container textarea {
    width: 100%;
    resize: vertical;
    padding: 5px;

    border-radius: 10px;
}

table {
    width: 100%;

    margin-top: 5px;
    border-color: #000;
    border: 1px solid;
    border-collapse: collapse;
}

table td {
    width: 50%;

    margin-top: 5px;
    border-color: #000;
    border: 1px solid;
}

table tr {
    display: block;
    width: 100%;
    
    background-color: #fef;
}

#tt-description, #tt-due-date {
    display: none;
    width: fit-content;
}