#addTaskForm,
#editTaskForm {
    display: none;
    text-align: left;
}

#addTaskForm label,
#editTaskForm label {
    display: block;
}

#addTaskForm input,
#editTaskForm input {
    height: fit-content;
    width: 100%;

    margin: 5px 0px 5px 0px;
    padding: 2px 5px 2px 5px;
    
    border-radius: 40px;
}

#addTaskForm textarea,
#editTaskForm textarea {
    width: 100%;
    resize: vertical;
    padding: 5px;

    border-radius: 10px;
}

#buttons {
    margin-top: 10px;
}

table {
    display: inline-flex;
    height: 750px;

    background-color: #DAD7CD;

    overflow-y: auto;

    margin-top: 5px;
    border-color: #000;
    border: 1px solid;
    border-collapse: collapse;

    /* scrollbar-color: #f1f1f1 white; */
    scrollbar-width: none;
}

table td {
    margin-top: 5px;
    border-color: #000;
    border: 1px solid;
}

table tr {
    display: block;
    width: 300px;
}

#tt-name {
    width: 150px;
}

#tt-status {
    width: 100px;
}

#tt-desc-due {
    display: none;
    /* display: block; */

    width: 280px;

    padding: 5px;
    margin: 5px;
}

#hideExt {
    display: none;
}

@media screen and (max-height: 1000px) {
    #tasks-table {
        max-height: 550px;
        border-radius: 10px;
    }
}

@media screen and (min-height: 1000px) {
    #tasks-table {
        max-height: 1500px;
        border-radius: 10px;
    }
}